/*-- scss:defaults --*/


/*-- scss:rules --*/

.blackslide {
    background-color: black !important;
    color: #fffdca !important;
}

.blackslide h2 {
    background-color: black !important;
    color: #fffdca !important;
}

.navy-paradoxia {
    color: lightblue;
}