/*-- scss:defaults --*/


/*-- scss:rules --*/

.navy-paradoxia {
    color: navy;
}

section#footnotes li p, section#footnotes li {
    font-size: 15px;
}

section#footnotes li {
    margin-top: -20px;
}